@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");

html {
  background-color: #e8e2d2;
}

header {
  border-bottom: 2px solid black;
  height: 12vh;
}

span {
    font-weight: 300;
}

#heroContainer {
  min-width: 100%;
  min-height: 85vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 5vh;
  border-bottom: 2px solid black;

  #heroImage {
    max-width: 80vw;
    border: 2px solid black;
  }

  #heroText {
    display: flex;
    flex-flow: column;
    gap: 1vh;
    margin-top: 3vh;
    text-align: center;
  }

  #heroText h4:first-of-type {
    border-bottom: 2px solid black;
    padding-bottom: 5px; /* Optional for spacing */
  }

  h4 {
    font-family: "Source Serif 4", serif;
    color: black;
    font-size: 1.7rem;
    margin: 0;
    padding: 0;
  }
}

#aboutContainer {
  min-width: 100%;
  padding-left: 10vw;
  padding-right: 10vw;
  min-height: 65vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid black;
  gap: 2vh;

  h2 {
    font-family: "Source Serif 4", serif;
    color: black;
    font-size: 1.8rem;
    margin: 0;
    padding: 0;
  }

  p {
    font-weight: 600;
    font-family: "Source Sans 3", sans-serif;
    color: black;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;


    #CV-link {
      text-decoration: underline;

    }

    a {
      color: #00895A;
    }
  }

  .aboutText {
    text-align: center;
  }
}

#projectsContainer {
  min-width: 100%;
  min-height: 65vh;
  margin-top: 5vh;
  padding-bottom: 5vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid black;
  gap: 3vh;

  h2 {
    font-family: "Source Serif 4", serif;
    color: black;
    font-size: 1.8rem;
    margin: 0;
    padding: 0;
  }

  .projectImage {
    max-width: 80vw;
    border: 2px solid black;
  }

  p {
    color: black;
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
  }

  .projContainer {
    max-width: 35vw;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 2vh;

    .projText {
        text-align: center;
    }

    p {
      font-weight: 600;
      font-family: "Source Sans 3", sans-serif;
      color: black;
      font-size: 1.2rem;
      margin: 0;
      padding: 0;

    }

    h3 {
      font-family: "Source Sans 3", serif;
      color: black;
      font-size: 1.4rem;
    }

    h4 {
      font-family: "Source Serif 4", serif;
      color: black;
      font-size: 1.7rem;
      margin: 0;
      padding: 0;
    }
  }
}

#freetimeContainer {
  min-width: 100%;
  margin-top: 5vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  min-height: 65vh;
  gap: 5vh;
  padding-bottom: 5vh;
  padding-left: 10vw;
  padding-right: 10vw;
  border-bottom: 2px solid black;

  p {
    font-weight: 600;
    font-family: "Source Sans 3", sans-serif;
    color: black;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
  }

  #freetimeText {
    text-align: center;
  }

  #BBImage {
    max-width: 80vw;
    border: 2px solid black;
  }
}

footer {
  padding: 0 !important;
}

#contactContainer {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 3vh;
  border-bottom: 2px solid black;

  img {
    max-width: 50px;
  }

  #SoMeContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 20px; /* Adjust spacing */

    .SoMeBox {
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  /* Vertical line */
  #SoMeContainer::before {
    content: "";
    position: absolute;
    width: 2px; /* Thickness of the line */
    height: 100%; /* Ensures the line spans the full height of SoMeContainer */
    background-color: black; /* Color of the line */
    left: 50%;
    transform: translateX(-50%);
  }

  #emailText {
    font-weight: 600;
    font-family: "Source Sans 3", sans-serif;
    color: black;
    font-size: 1.2rem;
    margin: 0;
    padding-top: 1vh;
  }
}

@media (min-width: 1024px) {
  #heroContainer {
    #heroImage {
      max-width: 30vw; /* Reduce width for desktop screens */
    }

    #heroText {
      margin-bottom: 5vh;
    }
    padding-bottom: 10vh;
  }

  #projectsContainer {
    .projectImage {
      max-height: 35vh; /* Ensure all images have the same height */
      max-width: 40vw; /* Reduce width for desktop screens */
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    .projectImage:hover {
      transform: scale(1.05); /* Slightly enlarge the image */
      box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2); /* Subtle shadow effect */
    }

    #projGrid {
      margin-top: 5vh;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      gap: 5vh;
    }

    margin-top: 10vh;
    padding-bottom: 10vh;
  }

  #freetimeContainer {
    #BBImage {
      max-width: 40vw; /* Reduce width for desktop screens */
    }

    margin-top: 10vh;
    padding-bottom: 10vh;
  }
}
